body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
}

.header {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
}

.login-panel {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
}

.login-panel input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -9px;
}

.login-panel button {
    margin-left: 0%;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}